extends layout

block content
 .content
  h1 Emergency Services
  p
  | VK hospital offers good quality emergency care services in Bangalore. We offer uniform emergency care services 24 hours a day and are geared to meet all surgical and medical emergencies.The primary goal of our department is to rapidly assess the condition of the patient and offer him/her the necessary medical facilities to take the condition under control.
  p
  | When the question is of health of your loved ones, time and distance should not be the limiting factors. Therefore the integrated emergency services at Anand hospital are well coordinated with control centers to offer 24 hours uninterrupted services. We offer extremely competitive and specialised health care services.Our medical emergency services department works quickly and efficiently under nerve-wracking circumstances along with handling difficult cases that are very challenging.
  p
  | We have a scientifically developed protocol-driven emergency system that has several innovative and unique features-
  ol
   li Ambulances that are well equipped with necessary tools and is manned by trained personnel
   li We have an effective communication system that links our control rooms to our ambulances and the emergency facilities of our hospital.
   li We have common functional and medical protocols across the system
   li We also provide training to our medical staff for pre-hospital and in-hospital care
  img(src='images/emergencyServices.jpg')