doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/stylesheets/style.css')
   link(rel="shortcut icon" href="./images/index.jpg")
 body
  .nav
   .nav_wrapper
    ul
     li
      a(href='/') Home
     li
      a(href='aboutUs') About Us
      ul
       li
        a(href='') Our Profile
       li
        a(href='') Our Infrastructure
     li
      a(href='') Contact
     li
      a(href='') Facilities
      ul
       li
        a(href='/diagnostics') Diagnostics
       li
        a(href='/emergencyServices') Emergency Services
       li
        a(href='/bloodBank') Blood Bank
       li
        a(href='/icuServices') ICU services
     li
      a(href='') Specialities
      ul
       li
        a(href='') ENT(Otalaryngology)
       li
        a(href='') Spine Surgery
       li
        a(href='') Pain management
       li
        a(href='') Orthopaedics
       li
        a(href='') Ophthalmology
       li
        a(href='') Gynaecology
       li
        a(href='') Bariatric surgery
       li
        a(href='') General surgery
       li
        a(href='') Gastroenterology
       li
        a(href='') Surgical oncology

  block content